* {
  margin: 0px;
  padding: 0px;
  font-family: "SN Pro", sans-serif;
}

.main_box {
  background: url("photo.jpg");
  height: 100vh;
  background-size: cover;
}

.btn_one {
  color: wheat;
  font-size: 30px;
  font-weight: 700;
  position: absolute;
  left: 12px;
  line-height: 16px;
  margin: 15px;
}

.sidebar_menu {
  position: fixed;
  left: -250px;
  height: 100vh;
  width: 270px;
  background-color: rgba(96, 96, 94, 0.288);
  box-shadow: 0 0 6px rgb(255, 255, 255, 0.5);
  transition: all 0.3s linear;
}

.sidebar_menu .logo {
  position: absolute;
  width: 100%;
  line-height: 60px;
  box-shadow: 0 0 6px rgba(217, 214, 214, 0.5);
  left: 25px;
}

.sidebar_menu .logo a {
  position: absolute;
  left: 50px;
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
}

.sidebar_menu .btn_two {
  color: gray;
  font-size: 25px;
  line-height: 60px;
  position: absolute;
  left: 240px;
  /* opacity: 0; */
  cursor: pointer;
}

.sidebar_menu .menu {
  position: absolute;
  width: 100%;
  top: 75px;
}

.sidebar_menu .menu li {
  margin-top: 10px;
  padding: 14px, 20px;
}

.sidebar_menu .menu i,
a {
  color: white;
  text-decoration: none;
  font-size: 30px;
}

.sidebar_menu .menu {
  padding-right: 15px;
}

.sidebar_menu .social_media {
  position: absolute;
  left: 20%;
  bottom: 20px;

}

.sidebar_menu .social_media i {
  color: white;
  opacity: 0.5;
  padding: 0 5px;
}

#check {
  display: none;
}

.sidebar_menu .menu li:hover {
  box-shadow: 0 0 6px rgba(217, 214, 214, 0.5);
}

.btn_one:hover {
  font-size: 40px;
}

.btn_two:hover {
  font-size: 30px;
}

.sidebar_menu .social_media i:hover {
  opacity: 1;
  transform: scale(2);
}

#check:checked~.sidebar_menu {
  left: 0;
}

#check:checked~.btn_one i {
  opacity: 0;
}

check:checked~.sidebar_menu .btn_two i {
  opacity: 1;
}